:root {
  /* 프라이머리 컬러 */
  --primary-color: #ff385c;

  /* 백그라운드 컬러 */
  --bg-light: #f7f7f7;
  --bg-medium: #ebebeb;
  --bg-dark: #dddddd;

  /* 텍스트 컬러 */
  --text-primary: #222222;
  --text-secondary: #6a6a6a;
  --text-muted: #897870;

  /* 쉐도우 컬러 */
  --white: #ffffff;
  --white-90: #ffffffe6;
  --white-60: #ffffff99;

  /* 보더 컬러 */
  --border-light: #eeeeee;
  --border-medium: #ebebeb;
  --border-dark: #00000033;

  /* 추가 */
  --black: #000000;
  --big-search-form_background: #ffffff;

  /* 폰트 weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* 폰트 size */
  --text-body-sm-font-size: 0.875rem;
  --text-body-large-font-size: 1rem;

  /* 폰트 height */
  --text-body-sm-line-height: 1.125rem;
  --text-body-large-line-height: 1.25rem;
}

@media (min-width: 550px) {
  .main-grid {
    --breakpoint-grid_columns: 2;
  }
}

@media (min-width: 744px) {
  :root {
    --explore-inline-start: 40px;
    --explore-inline-end: 40px;
  }
}

@media (min-width: 950px) {
  .main-grid {
    --breakpoint-grid_columns: 3;
  }
}

@media (min-width: 1128px) {
  .main-grid {
    --breakpoint-grid_columns: 4;
  }
}

@media (min-width: 1440px) {
  :root {
    --explore-inline-start: 80px;
    --explore-inline-end: 80px;
  }
}

@media (min-width: 1640px) {
  .main-grid {
    --breakpoint-grid_columns: 5;
  }
}

@media (min-width: 1880px) {
  .main-grid {
    --breakpoint-grid_columns: 6;
  }
}
